.project
.pydevproject
89e3e07e0dc77f40c981b900c87d6246866172b7-privatekey.p12
django_googledrive_storage
*.pyc
manage.py
dist
gdstorage.egg-info
db.sqlite3
django_googledrive_storage.egg-info
.idea/
venv/
certificate/89e3e07e0dc77f40c981b900c87d6246866172b7-privatekey.crt
certificate/89e3e07e0dc77f40c981b900c87d6246866172b7-privatekey.key
certificate/Django Google Drive Storage-44bb261c98ae.key
certificate/Django Google Drive Storage-44bb261c98ae.p12
build
docs/test
docs/out
.ropeproject
.vscode/
gdtest/